.navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-top:0px;
      margin-bottom: 0;
      background-image: url("/assets/offerjumbo.jpg");
      background-repeat: no-repeat repeat;
      background-size: cover;
      height: 600px;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .img-size
    {
        height:300px;
    }
    .modal-backdrop.fade
    {
      opacity: 0.5;
    }
    .modal-open .modal
    {
      opacity: 1;
    }

    .card-header{
     background-color: beige;
    }